.settings
.debug-config-dir
ororok.pro.user
Makefile
src/Makefile*
qrc_application.cpp
./Makefile
*.o
*.qm
moc_*.cpp
ui_*.h
debug/*
ororok
collection.sqlite*
src/services/lastfm/apikey.h
debian/*.log
debian/ororok.substvars
build-stamp
debian/files

