/* QWebkit widget styles */
body, p, table, div {
    font-family: "Liberation Sans", Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
}

body {
    background-color: #fff;
}

.cover {
    margin: 5pt 0 5pt 0;
}

a:hover {
    color: green;
}