Source: ororok
Section: sound
Priority: extra
Maintainer: Sergey Stolyarov <sergei@regolit.com>
Build-Depends: debhelper (>= 7.0.50~), libqt4-dev (>= 4:4.8), liblastfm-dev (>= 1.0.3), libqtwebkit-dev(>= 2.0~), libphonon-dev, libtag1-dev, pkg-config, gdb
Standards-Version: 3.9.1
Homepage: https://github.com/sigsergv/ororok
Vcs-Git: git://github.com/sigsergv/ororok.git
Vcs-Browser: https://github.com/sigsergv/ororok

Package: ororok
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple audio player and music collection organizer
 Simple music library collection organizer inspired by Amarok-1.4
 media player. Plays music and sends playing tracks info to last.fm.
